# Directories
data*
backups
old

makefile
remove.sh

*.dSYM

# Executables
01_electrostatic2D
02_electrostatic3DwithUcrossB
01_electrostatic2D_with_mfem_built_mesh
02_electrostatic3DwithUcrossB_with_mfem_built_mesh
