# Directories
data*
backups
old
*.dSYM
mesh
plots

# Simulation files
run_mfem.sh
*.log
*.vtk
*.dat.00000
*.png

# Scripts
remove.sh
setup_mfem.sh
*.py

# Executables and old files
01_preconditioner_as_a_solver
02_gmres_fluids_solver
03_gmres_solver_restructure
fluids_solver
lmmhd_solver
