# Directories
data*
backups
old
*.dSYM

# Simulation files
run_mfem.sh
*.log

# Scripts
remove.sh
setup_mfem.sh

# Executables and old files
01_preconditioner_as_a_solver
02_gmres_fluids_solver
03_gmres_solver_restructure
